---
const currentYear = new Date().getFullYear();
const lastUpdated = new Date().toLocaleDateString("en-IN", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<footer class="w-full py-6 px-6 text-slate-300">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <p class="text-sm">
      &copy; {currentYear} Soham Patel
    </p>
    <p class="text-sm text-slate-400">
      Last updated: {lastUpdated}
    </p>
  </div>
</footer>
