<div class="flex gap-3 py-2 pb-4">
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn"
    class="social-logo-anim"
    href="https://www.linkedin.com/in/soham-patel-dev/"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Email"
    class="social-logo-anim"
    href="mailto:sohampatel1483@gmail.com"
  >
    <i class="fa-regular fa-envelope"></i>
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
    class="social-logo-anim"
    href="https://github.com/xk25"
  >
    <i class="fa-brands fa-github"></i>
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="X"
    class="social-logo-anim"
    href="https://x.com/sohampatel1483"
    ><i class="fa-brands fa-twitter"></i>
  </a>
</div>
