---
import { Image } from "astro:assets";
import lockscreen from "../assets/lockscreen.webp";
import homescreen from "../assets/homescreen.webp";
import terminal from "../assets/term.webp";
import rofi from "../assets/rofi.webp";
---

<section aria-labelledby="linux-heading">
  <h2 class="text-2xl font-medium tracking-tight text-white mb-4">
    My Arch Linux Setup
  </h2>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-4 auto-rows-fr">
    <img
      src={lockscreen.src}
      alt="lockscreen"
      class="rounded-lg border border-stone-800/80 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:border-stone-600/60 hover:shadow-orange-500/10"
    />
    <img
      src={homescreen.src}
      alt="homescreen"
      class="rounded-lg border border-stone-800/80 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:border-stone-600/60 hover:shadow-orange-500/10"
    />
    <img
      src={terminal.src}
      alt="terminal"
      class="rounded-lg border border-stone-800/80 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:border-stone-600/60 hover:shadow-orange-500/10"
    />
    <img
      src={rofi.src}
      alt="rofi-launcher"
      class="rounded-lg border border-stone-800/80 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:border-stone-600/60 hover:shadow-orange-500/10"
    />
  </section>
</section>
