<h1>Projects</h1>
<!-- <div class="card_container">
  <div class="education_card">
    <div class="education_card_content" style="align-items: flex-start">
      <span class="material-symbols-outlined education_icon"> code </span>
      <div class="education_card_info">
        <h3 class="education_card_info_title">LiveIPO</h3>
        <p style="max-width: 90%">
          Built an app with React Native to display various IPO information,
          currently used by 500+ users.
        </p>
      </div>
    </div>
    <div style="display: flex; gap: 10px">
      <a
        target="_blank"
        style="font-size: 20px"
        href="https://play.google.com/store/apps/details?id=com.liveipo.liveipo_app&hl=en_IN"
      >
        <i class="fa-brands fa-google-play"></i>
      </a>
    </div>
  </div>
  <div class="education_card">
    <div class="education_card_content" style="align-items: flex-start">
      <span class="material-symbols-outlined education_icon"> code </span>
      <div class="education_card_info">
        <h3 class="education_card_info_title">Movie Recommendation Website</h3>
        <p style="max-width: 90%">
          Developed a responsive site to recommend movies, using SvelteKit and
          Tailwind for the frontend, Django for the API, and Docker for
          deployment
        </p>
      </div>
    </div>
    <div style="display: flex; gap: 10px">
      <a
        target="_blank"
        style="font-size: 20px"
        href="https://github.com/SOHAMPATEL1483/WatchWizard"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        target="_blank"
        style="font-size: 20px"
        href="https://www.youtube.com/watch?v=ro8EflBGpcE"
      >
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </div>
  <div class="education_card">
    <div class="education_card_content" style="align-items: flex-start">
      <span class="material-symbols-outlined education_icon"> code </span>
      <div class="education_card_info">
        <h3 class="education_card_info_title">Reddit Clone</h3>
        <p style="max-width: 90%">
          Developed a responsive Reddit clone with Next.js and Tailwind,
          featuring nested comments, infinite scrolling, and a type-safe API
        </p>
      </div>
    </div>
    <div style="display: flex; gap: 10px">
      <a
        target="_blank"
        style="font-size: 20px"
        href="https://github.com/SOHAMPATEL1483/Reddit-clone"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        target="_blank"
        style="font-size: 20px"
        href="https://youtu.be/GGXpOymLvZQ"
      >
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </div>
</div> -->
