<section aria-labelledby="techstack-heading">
  <h1 class="text-3xl font-semibold tracking-wide text-slate-100">
    Things I Use Instead of Touching Grass
  </h1>
  <img
    alt="contains icon for js,ts,svelte,react,angular,webpack,nodejs,pnpm,prisma,docker,supabase,firebase,tailwind,postman,nextjs,html,git,python,django,c,cpp"
    class="max-w-full mt-5"
    src="https://skillicons.dev/icons?i=js,ts,svelte,react,angular,webpack,nodejs,pnpm,prisma,docker,supabase,firebase,tailwind,postman,nextjs,html,git,python,django,c,cpp"
  />
</section>
